


.image-stack {
  position: relative;
  width: 100%;
  height: 100%;
}


.image-stack img,
.image-stack video {
  position: absolute;
  width: 400px;
}

.link-layer {
  pointer-events: auto; /* クリック可能にする */
  display: block;
}

.hide { opacity: 0;  
      pointer-events: none; /* ← 追加済みならそのまま */

 }


.txtcontents{
  position: absolute;
  width: 100%;
  height: 100%;

  top: 150px;

   overflow-y: auto;   
}

.p47{
  opacity: 1 !important;
    position: fixed;        /* ← absoluteからfixedに */
    left: 50%;
    top: 66px;
    transform: translateX(-50%);
    width: 100%;
    height: calc(100vh - 66px - 68px);   
    overflow-y: scroll !important;
    text-align: center;
    z-index: 0;
    padding-bottom:600px;


        scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE */

      /* 既存のスタイルはそのまま */
  pointer-events: auto;
  user-select: text; /* ← 追加 */
  -webkit-user-select: text; /* ← 追加 */
  
}

@media (max-width: 500px) {
    .p47.hide {
        opacity: 0 !important;
    }
}

.p47::-webkit-scrollbar {
    display: none;                /* Chrome / Safari */
}

/* Firefox */
::-moz-selection {
  background-color: var(rgb(204, 255, 0));
  color:  #fdd2ff;
}

/* Chrome / Edge / Safari */
::selection {
  background-color: var(rgb(204, 255, 0));
  color:  #fdd2ff;
}
