.header {
margin-top: 10px;
padding-bottom: 3px;
display: flex;
flex-direction: row;
width: 100%;
}

@media only screen and (max-width: 720px) {
  .header {
    flex-direction: column;
       width: 100%;
    }
}

.logo-container {
min-width: 80px;
margin: 0 auto;
text-align: center;
}

.ysn-logo {
  height: 43px;
  display: inline-block; 
  }  


@media only screen and (max-width: 720px) {
.logo-container{
min-width: 20px;
}

.ysn-logo {
  display: none;
  }
}

.title-container {
  margin-left: 3px;
flex: 1;
}

.ysn-title {
height: 48px;
}

@media only screen and (max-width: 720px) {
  .title-container {
    margin-left: 20px;
  flex: 1;
  }
.ysn-title {
  height: 34px;
}
}
.right-container {
display: flex;
flex: 1;
flex-direction: row;
justify-content: flex-end;
}

#updated {
font-size: 0.8rem;
margin-right: 20px;
}

#icon-mode img {
height: 10px;
width: 10px;
margin-right: 15px;
cursor: pointer;
}

@media only screen and (max-width: 720px) {

  .right-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    }
    
    #updated {
    font-size: 0.5rem;
    margin-left: 22px;
    }
    
    #icon-mode img {
      position: absolute;
      top: 10px;
      right: 0px;
    height: 8px;
    width: 8px;
    margin-right: 15px;
    cursor: pointer;
    align-items: flex-start;
    }

}




#fullscreen {
display: none;
}






body.top .header,
body.sub.mode_A .header {
border-bottom: solid 1px var(--gray);
}
body.sub .header,
body.top.mode_A .header{
border-bottom: solid 1px var(--yellow);
}


body.top .ysn-logo,
body.sub.mode_A .ysn-logo{
content: url("bau/img/logo/ysn_g_4pt.svg"); 
}

body.sub .ysn-logo,
body.top.mode_A .ysn-logo {
content: url("bau/img/logo/ysn_y_4pt.svg"); 
}

body.top .ysn-title,
body.sub.mode_A .ysn-title {
content: url("bau/img/ysn_title_g.svg"); 
}

body.sub .ysn-title,
body.top.mode_A .ysn-title {
content: url("bau/img/ysn_title_y.svg"); 
}



body.top #fullscreen,
body.sub.mode_A #fullscreen {
background-image: url("bau/img/ysn_window_g.svg");
min-height: 15px;
width: 15px;
margin-right: 15px;
background-size: contain;
background-repeat: no-repeat;
}

body.sub #fullscreen,
body.top.mode_A #fullscreen {
background-image: url("bau/img/ysn_window_y.svg");
min-height: 15px;
width: 15px;
margin-right: 15px;
background-size: contain;
background-repeat: no-repeat;
}
