*, :after, :before {
  margin:0; padding:0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



html {
  font-size: 14.5px;
}

body {
  transition: background-color 0.5s;
  font-family: Hershey-Futural-30, Hershey-Futural--15, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
  font-weight: 300;
  word-spacing: var(--ws-eng);
  height: 100vh; /* 縦スクロールを有効化 */
  display:flex;
  flex-direction: column;
  position:relative;
  margin: 0;
  padding: 0;
  
}



body.top {
  background-color:var(--yellow) !important;
  color: var(--gray) !important;
}

/* sub defaut */
body.sub {
  background-color: var(--gray) !important;
  color: var(--yellow) !important;
}

/* top mode_A gray */
body.top.mode_A {
  background-color:var(--gray) !important;
  color: var(--yellow) !important;
}

/* sub mode_A (yelllow)*/
body.sub.mode_A {
background-color:var(--yellow) !important;
color: var(--gray) !important;
}


@media (max-width: 720px) {
  ::-webkit-scrollbar {
    display: none;
}
}


:root {
  --letterspace01: 0.1px;
  --letterspace05: 0.5px;
  --letterspace-jptxt: 1.2px;
  --fontsize-jp: 12px;
  --lh-jp: 1.5rem;
  --lh-eng: 1.4rem;
  --ws-eng: -2px;
  --white: white;
  --softwhite: #fffdef;
  --gray: rgb(148, 148, 148);
  --yellow: #fff9bf;
  --alertgreen: #5d8e65;
}



::-webkit-scrollbar-thumb {
  background-color: var(--yellow); 
}





/* whitespace */

.mar-lef {
  margin-left: 65px; 
}

.mar-bot {
  margin-bottom: 25px;
}
.pad-x-a{
  padding-left:1.4rem;
  padding-right: 1.4rem;
}

.pad-y-a{
  padding-top:1.4rem;
  padding-bottom: 1.4rem;
}

.pad-bot-a{
  padding-bottom: 0.4rem;
}

@media (max-width: 720px) {
  .mar-lef {
    margin-left: 0px; 
  }
  }

@font-face {
  font-family: Hershey-Futural-30;
  src: url(bau/font/Hershey-Futural-30.woff) format("woff"),url(ysn/font/Hershey-Futural-30.ttf) format("truetype")
}

@font-face {
  font-family: Hershey-Futural--15;
  src: url(bau/font/Hershey-Futural--15.woff) format("woff"),url(ysn/font/Hershey-Futural--15.ttf) format("truetype")
}



/* logo yukkuri shikkari nokosu */

.logoA {
  right: 150px;
  bottom: 300px;
  width: 120px;
  height: 100px;
  background: url('bau/img/logo/yukkuri_y.svg') no-repeat center;
  transform: rotate(0deg); 
}

.logoB {
  right: 50px;
  bottom: 175px;
  width: 125px;
  height: 100px;
  background: url('bau/img/logo/shikkari_y.svg') no-repeat center;
  transform: rotate(90deg); 
}

.logoC {
  right: 250px;
  bottom: 100px;
  width: 85px;
  height: 110px;
  background: url('bau/img/logo/nokosu_y.svg') no-repeat center;
  transform: rotate(0deg);
}

@media only screen and (max-width: 720px){
  .logoA {
    right: 22%;
    bottom: 35%;
    width: 70px;
    height: 100px;

    transform: rotate(0deg); 
  }
  
  .logoB {
    right: 6%;
    bottom: 23%;
    width: 77px;
    height: 100px;
    transform: rotate(90deg); 
  }
  
  .logoC {
    right: 30%;
    bottom: 12%;
    width: 50px;
    height: 110px;
    transform: rotate(0deg);
  }

 body.sub .logoA,
 body.sub .logoB,
 body.sub .logoC {
    display: none;
  }
}


body.top .logoA {
  background: url('bau/img/logo/yukkuri_g.svg') no-repeat center;
}

body.top.mode_A .logoA {
  background: url('bau/img/logo/yukkuri_y.svg') no-repeat center;
}

body.top .logoB {
  background: url('bau/img/logo/shikkari_g.svg') no-repeat center;
}

body.top.mode_A .logoB {
  background: url('bau/img/logo/shikkari_y.svg') no-repeat center;
}

body.top .logoC {
  background: url('bau/img/logo/nokosu_g.svg') no-repeat center;
}

body.top.mode_A .logoC {
  background: url('bau/img/logo/nokosu_y.svg') no-repeat center;
}




body.top .logoA, 
body.top .logoB, 
body.top .logoC, 
body.sub .logoA, 
body.sub .logoB, 
body.sub .logoC{
  position: fixed;
  background-size: contain;
  transition: transform 0.1s linear;
  z-index: 100;
}


body.top.mode_A .logoA,
body.top.mode_A .logoB,
body.top.mode_A .logoC,
body.sub.mode_A .logoA,
body.sub.mode_A .logoB,
body.sub.mode_A .logoC{
  background-size: contain;
}

.mode_A,
body.mode_A .modal {
  background-color: var(--yellow) !important;
  color: var(--gray) !important;
  border-color: var(--gray) !important;
}



body.mode_A #modal-caption {
  color: var(--gray); 
}

body.mode_A .calendar-item:hover {
  color: var(--yellow);
}

h1 {
font-family: Hershey-Futural--15, sans-serif;
font-size:4.5rem;
letter-spacing: -2px;
}

h1, h2 {
font-weight: inherit;
}

@media only screen and (max-width: 720px){
  h1 {
    font-size: 4rem;
    }
}

.jp-txt {
letter-spacing: var(--letterspace-jptxt);
font-size: var(--fontsize-jp);
line-height: var(--lh-jp);
margin-bottom: 5px;
padding: 0;
}

:lang(en) {
letter-spacing: var(--letterspace01);
line-height: var(--lh-eng);
font-size: 13.5px;
}

@media only screen and (max-width: 720px){
  .jp-txt {
    font-size: 11px;
    }
    
    :lang(en) {
    letter-spacing: var(--letterspace01);
    line-height: var(--lh-eng);
    font-size: 12px;
    }
}


/* top */
.contents {
  flex-grow: 1;  
  display: flex;
}



/* top-calendar */
.calendar-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  min-width: 100vw;
  flex-wrap: wrap;
  overflow: auto;
}

.calendar-item {
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid var(--yellow);
  border-right: 1px solid var(--yellow);
  flex: 0 0 25%; /* 4列表示 */
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.calendar-item, a{
  display: block;
  text-decoration: none;
  color: inherit;
}

.calendar-item:hover {
  background: var(--softwhite);
  transition: 0.2s ease;
}

.calendar-item.waitingroom:hover {
  cursor: help;
}


/* calendar contents */
.calendar-container-year {
  display: flex;
  flex-flow: row;
  width: 100%;
  flex-wrap: wrap;
}

.calendar-item-year {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vw;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--yellow);
  border-right: 1px solid var(--yellow); 
}

@media only screen and (max-width: 1440px) {
  .calendar-item {
    flex: 0 0 33.33%; /* 3列表示 */
  }
  }
  @media only screen and (max-width: 1080px) {
    .calendar-item {
      flex: 0 0 50%; /* 2列表示 */
    }
  }
  @media only screen and (max-width: 720px) {
    .calendar-item {
      flex: 0 0 100%; /* 1列表示 */
      border-right: none;
    border-right: 0px solid var(--yellow);
  }
  }


   /* --- footer --- */

footer {
  display: flex;
}

 .footer_container {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 5px;
  padding: 20px 0px 10px 0px;
  border-top: 1px solid;
}


.footer_clock, .footer_ysn, .footer_update{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.calendar-item,
body.top .footer_container,

body.sub.mode_A .footer_container {
  border-color: var(--gray) !important;
}

body.mode_A .calendar-item,
body.top.mode_A .footer_container,
body.sub .footer_container{
  border-color: var(--yellow) !important;
}


@media only screen and (max-width: 720px) {
  .footer {
    flex-direction: row;
  }

  .flex-left {
        flex-direction: row;
  }

  .footer_container {
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.6rem;
    gap: 6px;
    padding: 10px 0px 5px 0px;
    padding-left: 20px;
  } 

  /* ここで中央寄せを上書きして左寄せにする */
  .footer_clock, .footer_ysn, .footer_update {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0; /* 余計な中央寄せの影響を排除 */
    width: 100%; /* 左寄せをより強調する */
  }


  .footer-right::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 35px;
    width: 35px; 
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }

  body.top .footer-right::after,
body.sub.mode_A .footer-right::after {
background-image: url("bau/img/logo/ysn_g_4pt.svg");

}

body.sub .footer-right::after,
body.top.mode_A .footer-right::after {
background-image: url("bau/img/logo/ysn_y_4pt.svg");

}
}



.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.marquee {
  display: inline-block;
  animation: scroll 40s linear infinite;
  padding-bottom: 10px;
  font-size: 0.7rem;
  width: max-content;
  will-change: transform;
}




.marquee span {
  display: inline-block;
  min-width: 100%; /* Each span covers full viewport width */
  padding-right: 50px; /* Spacing between loops */
}

/* Ensure full support for Safari with -webkit- prefix */
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(5%); /* Start from the right edge */
    transform: translateX(5%);
  }
  100% {
    -webkit-transform: translateX(-100vw); /* Move the entire content to the left */
    transform: translateX(-100vw);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(5%); /* Start from the right edge */
    transform: translateX(5%);
  }
  100% {
    -webkit-transform: translateX(-100vw); /* Move the entire content to the left */
    transform: translateX(-100vw);
  }
}


/* popup */

.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--alertgreen);
  border-radius: 8px;
  padding: 35px;
  width: 490px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  color: var(--white);
  margin: 0;
}

.close {
  position: absolute;
  top: 7px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.announcement {
  font-size: 26px;
  margin-bottom: 2px;
}

.info {
  margin-bottom: 15px;
}

.popup .eng-txt,
{
  font-size: 1rem;
}

.popup a:link, a:active {
  color: var(--white);
  text-decoration: underline solid 1px ;
}




  @media only screen and (max-width: 420px) {

    .announcement {
    font-size: 2rem;
    margin-bottom: 2px;
    }

    .popup {    
    position: fixed;
    z-index: 1000;
    width: 90vw;
    padding:26px;
    }


    .jp-txt-popup {
      font-size: 12px;
    }

    .popup .eng-txt {
    letter-spacing: var(--letterspace01);
    }



  } 
   

