*, :after, :before {
  margin:0; padding:0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Hershey-Futural-30;
  src: url(bau/font/Hershey-Futural-30.woff) format("woff"),url(ysn/font/Hershey-Futural-30.ttf) format("truetype")
}

@font-face {
  font-family: Hershey-Futural--15;
  src: url(bau/font/Hershey-Futural--15.woff) format("woff"),url(ysn/font/Hershey-Futural--15.ttf) format("truetype")
}

body {
  font-family: Hershey-Futural-30, Hershey-Futural--15, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", -apple-system, BlinkMacSystemFont, Hiragino Sans, Hiragino Kaku Gothic ProN, meiryo,sans-serif;
  background-color:var(--a2);
}

body, html {
  font-size: 14.5px;
  -webkit-text-size-adjust: 100%;
  font-weight: 300;
  color: var(--a3);
}

:root {
  --letterspace01: 0.1px;
  --letterspace05: 0.5px;
  --letterspace08: 0.8px;
  --lh-jp: 1.3rem;
  --lh-eng: 1.2rem;
  --fontsize-main-jp: 15px;
  --a1: white;
  --a2: #fff9bf;
  --a3: rgb(148, 148, 148);
  --a4: silver;
  --a5: #0fd14c;
  --a6: #000;
  --a7: #fffdef;
}

.flex {
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  /* text-align: center; */
}

.header { 
  width: 100vw;
  z-index: 100;
  background-color:var(--a2);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--a3);
}

.title-jp {
  display: inline-block;
  margin-left: 19px;
  margin-bottom: 4px;
  padding-top: 10px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", -apple-system, BlinkMacSystemFont, Hiragino Sans, Hiragino Kaku Gothic ProN, meiryo,sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.title-eng {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
  text-wrap: balance;
  letter-spacing: var(--letterspace01);
  font-size: 1.3rem;
  line-height: 1.3rem;
}

#refreshed {
  position: fixed;
  right: 5px;
  top: 5px;
  font-size: 0.68rem;
}

@media only screen and (max-width: 420px) {
  .title-jp {
    padding-top: 22px;
    font-size: 1.1rem;
  }

  .title-eng {
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.3rem;
  }

  #refreshed {
    position: fixed;
    right: 5px;
    top: 5px;
    font-size: 0.6rem;
  }
}


.title-container {
  display: inline-block;
  margin: 0 auto;
}

#clock {
  margin-right: 3px;
}

 /* calendar--------------------------------------------------------- */

.calendar-container {
  display: flex;
  flex-flow: row;
  width: 100vw;
  flex-wrap: wrap;
}

.calendar-item {
  display: flex;
  position: relative;
  width: 25vw;
  height: 25vw;
  flex-wrap: wrap;
  font-family: var(--HF15),Arial,sans-serif;
  background-color:var(--a2);
  border-bottom: 1px solid var(--a3);
  border-right: 1px solid var(--a3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow:scroll;
}


        @media only screen and (max-width: 1440px) {
        .calendar-item{
          min-width: 33.33vw;
          min-height: 33.33vw;
        }
        }
        @media only screen and (max-width: 1080px) {
        .calendar-item {
          width: 50vw;
          height: 50vw;
        }
        }

        @media only screen and (max-width: 720px) {
        .calendar-item  {
          width: 100vw;
          height: 60vw;
          border-right: 0px solid var(--a3);
        }
        }


/* calendar contents--------------------------------------------------------- */

.calendar-item:hover{
  background-color: var(--a7);
  cursor: normal;
  transition: 0.2s ease;
}

  .year {
  margin: 0px;
  position: absolute;
  top:15px;
  left: 15px;
  font-family: Hershey-Futural--15,sans-serif;
  font-weight: 300;
  font-size:72px;
  letter-spacing: -2px;
}

.text-container {
  position: relative;
  width:90%;
  
}

.yearly-container {
width: 100vw;
}

.txtbox{
  position: absolute;
  top: 105px;
  left: 20px;
}

.jp-txt {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", -apple-system, BlinkMacSystemFont, Hiragino Sans, Hiragino Kaku Gothic ProN, meiryo,sans-serif;
  letter-spacing: var(--letterspace05);
  font-size: 1rem;
  line-height: var(--lh-jp);
}

.eng-txt {
letter-spacing: var(--letterspace01);
line-height: var(--lh-eng);
font-size: 1rem;
}

@media only screen and (max-width: 420px) {
  

.eng-txt {
  font-size: 1rem;
  }
}



/* calendar contents year --------------------------------------------------------- */


.calendar-container-year {
  display: flex;
  flex-flow: row;
  width: 100vw;
  flex-wrap: wrap;
}

.calendar-item-year {

  display: flex;
  position: relative;
  width: 100vw;
  height: 100vw;
  flex-wrap: wrap;
  background-color:var(--a2);
  border-bottom: 1px solid var(--a3);
  border-right: 1px solid var(--a3);
}



 /* logo --------------------------------------------------------- */

 

.logo-container {
  width: 100%;
  z-index:100;
}

.logo-wrapper img.logo_A {
  position: fixed;
  right: 180px;
  bottom: 400px;
/* transform: translate(-50%, -50%); */
}

.logo-wrapper img.logo_B {
  position: fixed;
  right: 90px;
  bottom: 200px;
}

.logo-wrapper img.logo_C{
  position: fixed;
  right: 270px;
  bottom: 160px;
}

.logo_A {
  width: 140px; 
  transform-origin: center;
  transition: transform 0.2s ease;
}
.logo_B {
  width: 75px; 
  transform-origin: center;
  transition: transform 0.2s ease;
}

.logo_C {
  width: 100px; 
  transform-origin: center;
  transition: transform 0.2s ease;
}


  @media only screen and (max-width: 720px) {
  .logo_A {
    width: 110px; 
    transform-origin: center;
    transition: transform 0.2s ease;
  }
  .logo_B {
    width: 60px; 
    transform-origin: center;
    transition: transform 0.2s ease;
  }
  
  .logo_C {
    width: 80px; 
    transform-origin: center;
    transition: transform 0.2s ease;
  }

  .logo-wrapper img.logo_A {
    position: fixed;
    right: 40%;
    bottom: 40%;
  /* transform: translate(-50%, -50%); */
  }
  
  .logo-wrapper img.logo_B {
    position: fixed;
    right: 15%;
    bottom: 20%;
  }
  
  .logo-wrapper img.logo_C{
    position: fixed;
    right: 45%;
    bottom: 10%;
  }
}


@keyframes swing {
  0% { transform: rotate(-10deg); } 
  100% { transform: rotate(10deg); }
  }

 /* marquee --------------------------------------------------------- */
.marquee_container {
  display: inline-block;
  position: fixed;
  justify-content: end;
  bottom: 10px;
}

 
  
.marquee {
  /* width: 900px; */
  height: 20px;
  overflow-x: hidden;
  font-size: 0.8rem;
  white-space: nowrap;
  letter-spacing: var(--letterspace01);
}

.track {
  /* background-color: silver; */
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 42s linear infinite;
}

strong {
  font-family: var(--HF15),Arial,sans-serif;
  font-size:1rem;
}


@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


 /* footer  --------------------------------------------------------- */


 .ysn_logo{
  position: fixed;
  left: 18px;
  bottom:48px;
  width: 50px;
  }

 
 footer {
  font-size: 0.85rem;
  letter-spacing: var(--letterspace02);

 }
 .footer_container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  gap:5px;
  height: 200px;  
 margin: 0 auto;
}

.footer_clock, .footer_ysn, .footer_update{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

@media only screen and (max-width: 720px) {

      .ysn_logo{
      position: fixed;
      left: 15px;
      bottom:35px;
      width: 50px;
      }
      .footer_container  {
        margin-top: 105px;
      flex-direction: column;
      height: 220px; 
      gap: 12px; 
      justify-content: center;
      }

      .footer_clock, .result, .footer_update {
        display: flex;      
      }
  
  } 



 /* alert --------------------------------------------------------- */

 .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--a5);
  border-radius: 8px;
  padding: 35px;
  width: 490px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  color: var(--a1);
  margin: 0;
}

.close {
  position: absolute;
  top: 7px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.announcement {
  font-size: 26px;
  margin-bottom: 2px;
}
.info {
  margin-bottom: 20px;
}



.modal .eng-text {
  font-size: 1rem;
}

.modal a:link, a:visited, a:active {
  color: var(--a1);
  text-decoration: none;
}

.modal a:hover {
  color: white;
  border-bottom: solid;
  border-width: 2px;
  border-color: white;
}

.modal-active {
  font-size: 22px;
}



@media only screen and (max-width: 720px) {
  .modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    padding: 30px 30px;
    width: 90vw;

  }
  }

  @media only screen and (max-width: 420px) {

    .announcement {
    font-size: 1.3rem;
    margin-bottom: 2px;
    }

    .modal {    
    position: fixed;
    left: 50%;
    top: 45%;
    z-index: 1000;
    padding: 25px 25px;
    width: 90vw;
    }

    .modal .jp-txt {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", -apple-system, BlinkMacSystemFont, Hiragino Sans, Hiragino Kaku Gothic ProN, meiryo, sans-serif;


    }

    .modal .eng-txt {
    letter-spacing: var(--letterspace01);
    font-size: 1rem;
 
    }


    .info {
    margin-bottom: 15px;
    }

    .modal-active {
    font-size: 18px;
    }

    .modal a:link, a:visited, a:active {
    color: white;
    border-bottom: solid;
    border-width: 1.5px;
    border-color: white;
    }
    }
